body {
    font-family: Garamond, sans-serif;
    max-width: 52em;
    font-size: large;
}

#error {
    display: none;
    background-color: #e66;
    color: white;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
}

.status {
    color: white;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.1em 1em;
    text-decoration: none;
}

.status.yes {
    background-color: green;
}

.status.no {
    background-color: red;
}


th {
    text-align: left;
}

#spinner img {
    vertical-align: middle;
}
