body {
    font-family: Garamond, sans-serif;
    max-width: 45em;
    font-size: large;
}

.status {
    color: white;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.1em 1em;
    text-decoration: none;
}

#passes {
    white-space: nowrap;
}

.status.yes {
    background-color: green;
}

.status.no {
    background-color: red;
}


th {
    text-align: left;
}

#spinner img {
    vertical-align: middle;
}

label {
    display: inline-block;
    width: 15em;
}

/* Positive and negative form messages */
.wrong {
    color: #f33;
}

.okay {
    color: #393;
}

/* Notifications */
.notification {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
    padding: 1em;

}

.notification.success {
    background-color: #BFB;
}

.notification.error {
    background-color: #FBB;
}

.notification h2 {
    font-size: large;
    margin: 0 0 0.25em 0;
}

.notification p {
    margin-top: 0;
}
